* {
  margin: 0;
  padding: 0;
}
header ul {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
  padding: 40px 0px 20px 0px;
  text-decoration: none;
  font-size: 1.8rem;
  background-color: #FFFF;
  z-index: 200;
  position: sticky;
  margin-bottom: 5%;
}
.grid_container-3-4 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 30%));
  justify-content: center;
  animation-name: show;
  animation-iteration-count: inherit;
  animation-duration: 3s;
}

.products {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
img {
  width: 400px;
}
h2 {
  font-size: 1.5rem;
  display: inline-block;
}
#product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.subgrid_container_sold_out {
  grid-row: 1;
  grid-column: 1;
  z-index: 10;
  justify-self: end;
  align-self: center;
  margin-top: 35%;
}
.sold_out_item {
  grid-row: 1;
  grid-column: 1;
}
#product_item {
  display: grid;
  grid-template-columns: minmax(0, 50%) minmax(0, 50%);
  animation-name: show-from-left;
  animation-iteration-count: inherit;
  animation-duration: 3s;
}

@keyframes show-from-left {
  0%{
      transform: translateX(50px);    
      opacity: 0%;
  }
  100%{
      opacity: 100%;
  }
  
}

.product_image {
  width: 100%;
  place-self: start stretch;
  object-fit:contain;
  grid-row: 1/2;
  grid-column: 1/4;
}


.product_info_grid_container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  place-self: start;
  margin-left: 5%;
  border: #302c29 solid 2px;
  padding: 2%;
}

.product_btn_grid {
  margin: 5% 0 5% 0;
}
button {
  font-size: 1.2rem;
  grid-row: 2;
}
li {
  text-decoration: none;
  list-style-type: none;
}
a {
  text-decoration: none;
  list-style-type: none;
}
.categories_grid_2 {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  margin-bottom: 30%;
}
.categories_grid {
  display: grid;
  grid-template-columns: 500px 500px;
  font-size: 3rem;
  column-gap: 2%;
  row-gap: 20%;
  animation-name: show;
  animation-iteration-count: inherit;
  animation-duration: 3s;
}

@keyframes show {
  0%{
      transform: translateY(-50px);    
      opacity: 0%;
  }
  100%{
      opacity: 100%;
  }
  
}

.category_style {
  background: #ffffff;
  padding-left: 4%;
  border-bottom:#302c29 solid 1px;
}

.product_description {
  color: #072033;
}
.price_container{
  display: flex;
  align-items: center;
}
.price{
  font-size: 1.5rem;
  padding-right: 5%;
}
.price-discount{
  font-size: 1.5rem;
  padding-right: 5%;
  text-decoration: line-through;
  opacity: 30%;
}

.soldout_container{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  

}
.soldout{
  font-size: 1.5vw;
  grid-column: 2;
  grid-row: 1;
  place-self: center;
  padding: 5%;
}

.index_grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-right: 5%;
  

}
.Index_title1{
  font-size: 10vw;
  place-self: end;
  animation-name: show1;
  animation-iteration-count: inherit;
  animation-duration: 3s;
}
.Index_title2{
  grid-row: 2;
  grid-column: 2;
  font-size: 10vw;
  animation-name: show2;
  animation-iteration-count: inherit;
  animation-duration: 3s;
}


@keyframes show1 {
  0%{
      transform: translateX(-50px);    
      opacity: 0%;
  }
  100%{
      opacity: 100%;
  }
  
}
@keyframes show2 {
  0%{
      transform: translateX(50px);    
      opacity: 0%;
  }
  100%{
      opacity: 100%;
  }
  
}