@font-face {
  font-family: "Jost-Medium";
  src: url("fonts/Jost-Medium.woff2");
}
@font-face {
  font-family: "Jost-Regular";
  src: url("fonts/Jost-Regular.woff2");
}
@font-face {
  font-family: "Jost-Thin";
  src: url("fonts/Jost-Thin.woff2");
}
@keyframes show {
  0%{
      transform: translateY(-50px);    
      opacity: 0%;
  }
  100%{
      opacity: 100%;
  }
  
}

body {
  background-color: #FaFAFA;
  
}
main{
  margin: 0 8% 0 8%;
}
h1 {
  font-family: "Jost-Medium";
  color:#302c29;
  animation-name: show;
  animation-iteration-count: inherit;
  animation-duration: 3s;
}
h2 {
  font-family: "Jost-Regular";
}
p {
  color:#302c29;
  font-family: "Jost-Regular";
  font-size: 1.5rem;
  animation-name: show;
  animation-iteration-count: inherit;
  animation-duration: 3s;
}
.footer_p {
  color:#FaFAFA;
  font-family: "Jost-Regular";
  font-size: 1.5rem;
}
a {
  color:#302c29;
  font-family: "Jost-Medium";
  transition: 0.2s;
}
a:hover{
  color: #04aa6d;
}
.read-more{
  color: #302c29;
  
}

article {
  background-color: #FaFAFA;
  padding: 3%;
}

.hide{
  display: none;
}

.sale_discount {
  display: block;
  font-family: 'Jost-Medium';
  text-align: center;
  font-size: min(3vw, 24px);
  background-color: #FAD316;
  padding: 5px;
  color:#302c29;
}
.price{
  font-size: min(3vw, 12px);
}
span {
  font-family: "Jost-Medium";
  font-size: 1.2rem;
}
.brand {
  font-size: 1.5rem;
}

footer {
  background-color: #12100e;
  padding: 6% 2% 6% 2%;
  margin-top: 10%;
}
button {
  background-color: #302c29;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: 0.3s;
}
button:hover {
  background-color: #04aa6d;
}

.product_name{
  font-size: min(3vw, 30px);
  color: #302c29;
}

.soldout{
  font-size: min(3vw, 12px);
  background-color: #f5f5f5;
  border:#302c29 solid;
  color: #302c29;
  z-index: 100;

}
.image_soldout{
  filter: grayscale(420%);
}
